*,  
::before,  
::after{  
    margin: 0;  
    padding: 0;
    /*清除移动端默认的 点击高亮效果*/  
    -webkit-tap-highlight-color: transparent;  
    /*设置所有的都是以边框开始计算宽度 百分比*/  
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;  
}
html{font-family: "Microsoft YaHei", Arial, sans-serif; font-size: 62.5%; /* 10 ÷ 16 × 100% = 62.5% */ }
body{font-size: 1.2rem; color: #333; }
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*阻止旋转屏幕时自动调整字体大小*/  
h1{font-size:24px;}  
h2{font-size:22px;}  
h3{font-size:18px;}
input::-webkit-input-speech-button {display:none}  
table {border-collapse:collapse;border-spacing:0;}  
th {text-align:inherit;}  
fieldset,img {border:none;}  
abbr,acronym {border:none;font-variant:normal;}  
del {text-decoration:line-through;}  
ol,ul {list-style:none;}  
caption,th {text-align:left;}  
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}  
sup {top:-0.5em;}  
sub {bottom:-0.25em;}  
ins,a,a:hover {text-decoration:none;} 
a,a:hover{transition:background 0.5s linear;-webkit-transition:background 0.5s linear;-moz-transition:background 0.5s linear;-o-transition:background 0.5s linear;}
a:focus,*:focus {outline:none;}  
a{color: #333; }
img{ border:none;vertical-align:middle;max-width:100%;}
input{border: none; outline: none; -webkit-appearance: none; border-radius:0; }/*清除移动端默认的表单样式*/ 
textarea{resize:none;}
input::-webkit-input-placeholder{color:#F0F0F0;}  
textarea::-webkit-input-placeholder{color:#F0F0F0;}  
p{line-height:22px;}  
ul,ol,li{list-style: none; }
em,i{font-style:normal;}

.el-table td, .el-table th {padding: 5px 0 !important;}
.el-button--small, .el-button--small.is-round {padding: 9px 15px;}
.el-dialog__wrapper {background: rgba(0,0,0,.3); width: 100%; height: 100%;}
.el-dialog { box-shadow: 0 0 30px #999; }